/* Imports */
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap');

/* General */
    :root {
        --lapis-lazuli: #085888;
        --mantis: #84c662;
        --lavender-floral: #b084cc;
        --black: #110b11;
        --blue-jeans: #4bb3fd;
    }
    * {  
        margin: 0;
        padding: 0;
        font-family: 'Merriweather', serif;
    }
    html, body {
        height: 100%;
        width: 100%;
    }
    p {
        font-size: 1em;    
        font-weight: 400;
    }
    blockquote {
        opacity: 0.8;
        font-weight: 200;
        font-style: italic;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Mukta', sans-serif;
        font-weight: 600;
    }
    a { text-decoration: none; }
    footer a:hover { text-decoration: underline; }
    .uppercase { text-transform: uppercase; }
    .center-text { text-align: center; }
    .clear { 
        clear: both;
        margin-bottom: 20px; 
    }


/* Portfolio Design */
    .skip {
        position: absolute;
        top: 0;
        opacity: 0;
    }
    .hero { width: 100%; }


/* Header */
    header {
        background-image: url('../img/header.jpg');
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 20px;
        color: #fff;
        overflow-y: hidden;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    }
    header .info {
        margin-top: 40px;
        position: relative;
        bottom: 0;
    }
    header .info img {
        position: relative;
        bottom: -54px;
    }
    header .info .bio { margin-top: 6%;  }
    header .info .bio p { font-size: 1.2em; }
    header .info .bio h2, header .info .bio p, header a.ghost { 
        display: inline-block;
        margin: 20px 0; 
    }
    header nav { margin-top: 10px; }
    #menu {  float: right; }
    #menu ul li {
        list-style: none;
        float: left;
        margin-right: 80px;
    }    
    #menu ul li a {
        font-family: 'Mukta', sans-serif;
        font-size: 1.4em;
        font-weight: 400;
    }
    nav a, nav a:active, nav a:visited { color: #fff; }
    nav a:hover, nav a:focus { color: rgba(255, 255, 255, 0.856); }
    nav a:hover::after, a.active::after {
        content: " ";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 1px;
        background-color: #fff;
    }
    #menu-toggle {
        font-size: 2.4em;
        text-align: right;
        display: none;
    }
    .menu-opened {
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        padding: 14px;
        width: 100%;
        height: 100%;
        background:  #fff;
        color: var(--black);
    }
    .menu-opened a, .menu-opened a:visited { color: var(--black); }
    .menu-opened a:active, .menu-opened a:focus, .menu-opened a:hover { color: var(--lapis-lazuli); }
    header a.ghost {
        border: 2px solid #fff;
        border-radius: 15px;
        color: #fff;
        padding: 10px 30px;
        font-family: 'Mukta', sans-serif;
        text-align: center;
        font-weight: 500;
    }
    header a.ghost:hover, header a.ghost:focus {
        background-color: #fff;
        color: var(--lapis-lazuli);
        transition: background-color 0.5s, color 0.5s;
    }



/* Projects */
    #projects h2 { 
        text-align: center; 
        color: var(--lapis-lazuli);
    }
    #projects .tags { 
        margin: 15px auto; 
    }
    #projects .tags ul {
        list-style: none; 
        text-align: center;
    }
    #projects .tags ul li { 
        display: inline-block;
        margin-right: 10%;
    }
    #projects .tags ul li a {
        background-color: transparent;
        border: 0;
        font-family: 'Mukta', sans-serif;
        font-size: 1.2em;
        color: var(--lapis-lazuli);
    }
    #projects .tags ul li a:hover {
        color: var(--blue-jeans);
        font-weight: 600;
    }
    #projects .tags ul li a:hover::after, #projects .tags ul li a:focus::after, #projects .tags ul li a.active::after {
        content: " ";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 1px;
        margin-bottom: -4px;
        background-color: var(--blue-jeans);
    }
    #projects .project figure {
        position: relative;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid var(--mantis);
        box-shadow: none;
        transition: box-shadow 0.5s;
    }
    #projects .project:hover figure, #projects .project:focus figure {
        cursor: pointer;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    }
    #projects .project figure figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35%;
        padding: 10px;
        background-color: var(--mantis);
        color: #fff;
        transition: height 0.5s;
    }
    #projects .project figure figcaption h3 {
        font-size: 1.2em;
        margin: 3% auto 0px;
    }
    #projects .project figure figcaption p { 
        display: none; 
        transition: display 1s;
    }
    #projects .links { 
        text-align: center; 
        position: absolute;
        bottom: 16px;
    }
    #projects .links a {
        font-family: 'Mukta', sans-serif;
        font-size: 1.2em;
        background-color: var(--lapis-lazuli);
        color: #fff;
        padding: 5px 25px;
        border-radius: 10px;
    }
    #projects .links a:hover, #projects .links a:focus {
        background-color: var(--blue-jeans);
        font-weight: 500;
    }
    #projects .project:hover figure figcaption h3, #projects .project:focus figure figcaption h3, #projects .project.active figure figcaption h3 {
        font-size: 1.4em;
        margin: 4% auto 15px;
    }
    #projects .project:hover figure figcaption, #projects .project:focus figure figcaption, #projects .project.active figure figcaption {
        height: 100%;
    }
    #projects .project:hover figure figcaption p, #projects .project:focus figure figcaption p, #projects .project.active figure figcaption p { display: block; }


/* Experiences */
    .experience-header {
        position: relative;
        margin: 0;
        width: 100%;
    }
    .experience-header figcaption {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 10%;
        color: #fff;
    }
    #experiences { 
        padding: 15px;
        color: var(--lapis-lazuli); 
    }    
    #experiences .experience, #experiences .edu {
        padding: 15px;        
        margin: 10px;
    }


/* Queries */
    @media only screen and (min-width: 0px) and (max-width: 600px) {
        .hidden { display: none; }
        .mobile-head { 
            position: fixed; 
            top: 0;
            left: 0;
            background: #fff;
            z-index: 999;
            box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.1);
        }
        header .logo { margin-top: 4px; }
        #menu ul { display: none; }
        #menu.menu-opened ul { 
            display: block; 
            position: absolute;
            padding: 0;
            top: 30%;
            left: 0;
            width: 100%;
            text-align: center;
        }
        #menu.menu-opened ul li {
            clear: both;
            width: 100%;
            text-align: center;
            margin-bottom: 35px;
        }
        nav a:hover::after, a.active::after {
            width: 25%;
            margin: 1px auto 0;
        }
        #menu-toggle { display: block; } 
        header .info { margin-top: 20px; }
        header .info img { top: 0; }
        header a.ghost { 
            width: 100%;
            padding: 15px;
            margin: 20px auto; 
        }
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        #menu ul li { margin-right: 40px; }
        header .info img { bottom: -90px; }
    }